* {
    margin: 0 auto;
}


nav, footer {
    background-color: rgb(57, 57, 128);
    padding: 1rem;
}

nav img {
    height: 50px;
}

nav button, footer button {
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(59, 149, 137);
}

.box-container {
    display: flex;
    /* border: 5px solid black; */
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.box-container p {
    color: rgb(0, 0, 0);
    font-size: larger;
    padding: 20px;
    align-content: center;
    text-align: center;
}

#box2 {
    align-self: flex-end;
}

#box1 {
    align-self: flex-start;
}


.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.2s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 10px;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.2s ease-in 0.2s;
}

@media(max-width: 480px) {
    .container {
        width: 100px;
    }

    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10) {
        display: none;
    }

h2 {
    padding: 30px;
}