
.nav-box {
    display: flex;
    background-color: rgb(15, 88, 136);
    color: white;
    padding: 15px;
    /* justify-content: flex-end; */
    align-items: center;
}


nav img {
height: 60px;
/* justify-content: left; */
}

nav button {
    /* justify-content: flex-end; */
    height: 40px;
    align-items: flex-end;
}

